@mixin button() {
    text-align: center;
    font-weight: 900;
    font-size: var(--buttons-font-size);
    line-height: var(--buttons-line-height);
    padding: 18px 38px;
    color: var(--white-color);
    background-color: var(--button-color);
    border-radius: 30px;
    text-transform: uppercase;

}
