.section-six {
  // .section-six__container

  // .section-six__content

  // .section-six form and contacts

  &__blocks {
    margin: auto;
    max-width: 788px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }

  &__form {
    input {
      background-color: var(--form-input-color);
      display: block;
      margin: 0;
      padding: 0;
      border: none;
      width: 350px;
      height: 56px;
      font-family: inherit;
      border-radius: 61px;
      padding-left: 12px;
      padding-right: 12px;
      margin-bottom: 14px;
    }

    ::placeholder {
      font-size: 16px;
      line-height: 1.5;
      color: var(--placeholder-color);
      padding-left: 10px;
    }
    input[type="submit"] {
      cursor: pointer;
      font-size: var(--buttons-font-size);
      line-height: var(--buttons-line-height);
      background-color: var(--button-color);
      color: var(--white-color);
      width: 50%;
      margin: auto;

      border-radius: 61px;
      text-transform: uppercase;
    }

    input[type="submit"]:hover {
      color: var(--button-color);
      background-color: var(--white-color);
      border: 1px solid var(--footer-color);
    }

    input:invalid {
      border: 2px solid;
      border-color: var(--error-color);
    }
  }

  &__contacts {
    margin-bottom: 40px;
    ul > li {
      margin-bottom: 30px;
      img {
        margin-right: 20px;
      }
    }
  }

  // .section-six__title

  &__title {
    font-weight: 800;
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);

    text-align: center;
    text-transform: uppercase;

    color: var(--accent-color);
    margin-bottom: 50px;
  }
}
