.page {
  // .page__section-one

  &__section-one {
    padding-top: 247px;
    position: relative;

    @media screen and (max-width: 1219.98px) {
      padding-top: 207px;
    }
  }
}

.section-one {
  background-color: var(--accent-color);
  position: relative;
  // .section-one__container

  // &__container {}

  // .section-one__box-one

  &__box-one {
    position: relative;
    display: flex;
    align-items: flex-start;
  }

  // .section-one__background-right

  &__background-right {
    position: absolute;
    top: -247px;
    right: -360px;
    z-index: 1;

    img {
      max-width: 100%;
    }
  }

  // .section-one__content

  &__content {
    margin-bottom: 82px;
    padding-top: 35px;
    position: relative;
    z-index: 3;

    flex: 0 1 76%;
  }

  // .section-one__title

  &__title {
    margin-bottom: 20px;
    font-size: var(--h1-font-size);
    line-height: var(--h1-line-height);
    color: var(--white-color);
  }

  // .section-one__text

  &__text {
    max-width: 552px;
    font-weight: 600;
    font-size: var(--buttons-font-size);
    line-height: var(--buttons-line-height);
    color: var(--white-color);
    margin-bottom: 58px;

    @media screen and (max-width: 1087.98px) {
      max-width: 477px;
    }
  }

  // .section-one__button

  &__button {
    @include button();
  }

  // .section-one__image

  &__image {
    position: relative;
    flex: 0 1 auto;

    img {
      position: absolute;
      top: 0;
      left: -367px;
      z-index: 2;

      @media screen and (max-width: 1219.98px) {
        left: -375px;
      }

      @media screen and (max-width: 1154.98px) {
        left: -394px;
      }

      @media screen and (max-width: 1087.98px) {
        left: -410px;
      }
    }
  }

  // .section-one__box-two

  &__box-two {
    position: relative;
    display: flex;
    align-items: flex-start;
    z-index: 2;
    margin-bottom: -8px;
  }

  // .section-one__socials

  &__socials {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 35px 40px;
  }

  // .section-one__background-left

  &__background-left {
    position: absolute;
    bottom: 0;
    left: -360px;
    z-index: -1;

    img {
      max-width: 100%;
    }
  }

  // .section-one__phone

  &__phone {
    margin-top: 160px;

    p {
      font-weight: 700;
      font-size: var(--buttons-font-size);
      line-height: var(--buttons-line-height);
      color: var(--white-color);
      padding-left: 20px;

      span {
        font-weight: 500;
        letter-spacing: 0.15em;
        padding-left: 14px;
      }
    }
  }
}
