.page {
  position: relative;
  // .page__section-two

  &__section-two {
    padding-top: 50px;
    padding-bottom: 68px;
  }
}

.section-two {
  position: relative;
  background-color: var(--accent-color);

  // .section-two__container

  // &__container {}

  // .section-two__content

  &__content {
    display: flex;
    margin-bottom: 50px;
    position: relative;
  }

  // .section-two__background

  &__background {
    background-color: var(--white-color);
    position: absolute;
    top: -51px;
    left: -360px;
    z-index: 1;

    img {
      max-width: 100%;
    }
  }

  // .section-two__text

  &__text {
    flex: 0 1 410px;
    padding-right: 20px;
    padding-left: 30px;
    display: flex;
    align-items: flex-end;

    p {
      font-weight: 600;
      font-size: var(--buttons-font-size);
      line-height: var(--buttons-line-height);
      color: var(--accent-color);
      z-index: 1;
    }
  }

  // .section-two__title

  &__title {
    flex: 1 1 auto;

    h2 {
      font-size: var(--h2-font-size);
      line-height: var(--h2-line-height);
      text-align: right;
      color: var(--white-color);
    }
  }

  // .section-two__images

  &__images {
    position: relative;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 84px;
    z-index: 1;
  }

  // .section-two__image

  &__image {
    img {
      max-width: 100%;
      border-radius: 10px;
    }
  }

  // .section-two__button

  &__button {
    text-align: center;

    a {
      @include button();
    }
  }
}
