:root {
  /*colors*/
  --primary-color: #ffffff;
  --secondary-color: #c98a40;
  --button-color: #fdba10;
  --form-input-color: #ffd39f;
  --border-color: #ffd8ab;
  --footer-color: #584125;
  --corner-radius: 30px;
  /*sizes*/
  --primary-font-size: 18px;
  ---primary-line-height: 26px;
  --secondary-font-size: 14px;

  --headers-font-size: 144px;
  --headers-line-height: 138px;

  --buttons-font-size: 18px;
  --primary-line-height: 24px;
  --secondary-line-height: 20px;
  --contacts-line-height: 17px;
  /*spaces*/
  --secondary-space: 18px;
}
