@import "variables";
@import "mixins";

/* General styles */
body {
  font-family: "Poppins";
}

h2 {
  font-size: var(--headers-font-size);
  margin: 0;
  line-height: var(--headers-line-height);
}
img {
  vertical-align: top;
}

h3,
h4,
p {
  margin: 0;
}

.link {
  @include button();
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  line-height: 36px;

  &.primary {
    @include activeButton();
  }

  &:hover {
    opacity: 0.7;
  }
}

.header-wrapper,
.work,
.info,
.services,
.testimonials {
  margin: 0;
}

.header-wrapper,
.work-container,
.info-container,
.testimonials__container {
  @media screen and (min-width: 1024px) and (max-width: 1920px) {
    display: flex;
    flex-direction: row;
    height: 840px;
    position: relative;
  }
}

.hero {
  max-width: 1214px;
  background-color: var(--secondary-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--primary-color);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);

  &__container {
    margin-left: 352px;
    padding-right: 241px;
  }

  &__phone {
    position: absolute;
    bottom: 20px;
    display: flex;
    margin-left: 260px;

    span {
      margin-right: 10px;
    }

    @media screen and (max-width: 1470px) {
      margin-left: 220px;
    }
  }

  .logo {
    position: absolute;
    top: 26px;
    left: 352px;
    display: flex;
    flex-direction: row;

    img {
      margin-right: 16px;
    }
    &__title {
      font-size: 28px;
      line-height: 34px;
      font-weight: 700;

      text-transform: uppercase;
    }
  }

  &__title {
    position: relative;
    font-weight: 800;
    font-size: 74px;
    line-height: 89px;
    z-index: 2;

    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__description {
    margin-bottom: 40px;
    max-width: 552px;
  }
}

.side {
  background-image: url("../assets/group.svg");
  width: 689px;

  & img:nth-child(1) {
    position: absolute;
    left: 45vw;
    top: 15vw;
    z-index: 0;
    opacity: 1;
    @media screen and (max-width: 1470px) {
      opacity: 0;
    }
  }
  & img:nth-child(2) {
    z-index: 1;
  }

  & img:nth-child(2),
  & img:nth-child(4) {
    position: absolute;
    left: 55vw;
    top: 10vw;
  }
  & img:nth-child(3) {
    position: absolute;
    left: 57vw;
    top: 30vw;

    @media screen and (max-width: 1470px) {
      position: absolute;
      left: 55vw;
      top: 15vw;
    }
  }
}
// @keyframes changePosition {
//   0% {
//     transform: translateX(25%);
//   }

//   50% {
//     transform: translateX(50%);
//   }

//   100% {
//     transform: translateX(100%);
//   }
// }
.social-network {
  background-color: var(--primary-color);
  background-image: url("../assets/group-small.svg");
  min-width: 449px;
  height: 201px;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;

  & > ul {
    @include navigation();

    & > li {
      display: flex;
      justify-content: end;
      padding-right: 37px;
      padding-bottom: 16px;
    }
  }
}

a {
  color: var(--primary-color);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  text-decoration: none;

  &:hover {
    opacity: 0.5;
  }
}
/*how we work section*/
.work-container {
  &__large {
    width: 1214px;
    background-color: var(--secondary-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--primary-color);
    font-size: var(--primary-font-size);
    line-height: var(--primary-line-height);
  }
  .title {
    text-align: end;
    padding-bottom: 400px;
    margin-right: 350px;
    text-transform: uppercase;
  }
  &__small {
    background: url("../assets/group.svg");
    width: 689px;
  }

  &__list {
    position: absolute;
    left: 20%;
    top: 30%;

    img {
      border-radius: 10px;
    }
    .media {
      display: flex;
      gap: 20px;
    }
  }

  &__description {
    max-width: 277px;
    padding-right: 30px;
    padding-bottom: 50px;
    color: var(--secondary-color);

    @media screen and (max-width: 1710px) {
      margin-right: 200px;
    }
  }
}
/*info section*/
.info {
  width: 1214px;
  background-color: var(--secondary-color);
  .info-container {
    max-width: 508px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    text-align: left;
    gap: 50px;

    color: var(--primary-color);
    font-size: var(--primary-font-size);
    line-height: var(--primary-line-height);

    margin: 0 auto;

    .title {
      text-transform: uppercase;
      margin-top: 50px;
    }
    img {
      position: absolute;
      top: 50px;
      left: 642px;
      border-radius: 10px;
    }
  }
}
/*services section*/
.services {
  h2 {
    color: var(--secondary-color);
    text-transform: uppercase;
  }
  .services__container {
    width: 385px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
    list-style: none;
  }
  &__block {
    padding: 30px;
    border: 1px solid var(--secondary-color);
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    border-top: 0;
    outline: none;
  }
  &__title {
    color: var(--secondary-color);
  }
}
/*testymonials section*/
.testymonials {
  &__container {
    background-color: var(--secondary-color);
    background-image: url("../assets/background.svg");
  }
}
