@charset "UTF-8";
/* --------- ОБНУЛЕННЯ СТИЛІВ ТЕГІВ ------------ */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

:root {
  /*text-colors*/
  --white-color: #ffffff;
  --accent-color: #c98a40;
  --grey-colour: #333333;
  --error-color: #a20d0d;
  --button-color: #fdba10;
  --footer-color: #584125;
  --form-input-color: #ffd39f;
  --placeholder-color: #b8bcca;
  /*text-sizes*/
  --logo-font-size: 28px;
  --logo-line-height: 1.2;
  --h1-font-size: 74px;
  --h1-line-height: 1.2;
  --h2-font-size: 144px;
  --h2-line-height: 0.9;
  --h3-font-size: 16px;
  --h3-line-height: 1.5;
  --text-font-size: 14px;
  --text-line-height: 1.4;
  --buttons-font-size: 18px;
  --buttons-line-height: 1.3;
  --contacts-line-height: 1.2;
}

.page__section-one {
  padding-top: 253px;
  position: relative;
}

.section-one {
  background-color: var(--accent-color);
}
.section-one__box-one {
  position: relative;
  display: flex;
  align-items: flex-start;
}
.section-one__box-one ::after {
  background-image: url("../img/section-one/banner-1.jpg");
  content: "";
  position: absolute;
  width: 150%;
  height: 846px;
  top: -253px;
  left: 860px;
  z-index: -1;
}
.section-one__content {
  margin-bottom: 82px;
  padding-top: 35px;
  position: relative;
  z-index: 2;
  flex: 0 1 55%;
}
.section-one__title {
  margin-bottom: 20px;
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  color: var(--white-color);
}
.section-one__text {
  font-weight: 600;
  font-size: var(--buttons-font-size);
  line-height: var(--buttons-line-height);
  color: var(--white-color);
  margin-bottom: 58px;
}
.section-one__button {
  text-align: center;
  font-weight: 900;
  font-size: var(--buttons-font-size);
  line-height: var(--buttons-line-height);
  padding: 18px 38px;
  color: var(--white-color);
  background-color: var(--button-color);
  border-radius: 30px;
  text-transform: uppercase;
}
.section-one__image {
  position: relative;
  flex: 0 1 45%;
}
.section-one__image img {
  position: absolute;
  top: 0;
  left: -126px;
  z-index: 2;
}
.section-one__box-two {
  position: relative;
  display: flex;
  align-items: flex-start;
  z-index: 2;
}
.section-one__box-two ::before {
  background-image: url("../img/section-one/banner-2.jpg");
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  right: 92%;
  height: 100%;
  z-index: -1;
}
.section-one__socials {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 35px 40px;
}
.section-one__phone {
  margin-top: 160px;
}
.section-one__phone p {
  font-weight: 700;
  font-size: var(--buttons-font-size);
  line-height: var(--buttons-line-height);
  color: var(--white-color);
  padding-left: 20px;
}
.section-one__phone p span {
  font-weight: 500;
  letter-spacing: 0.15em;
  padding-left: 14px;
}

.page__section-two {
  padding-top: 50px;
  padding-bottom: 68px;
  background-color: var(--accent-color);
}

.section-two__content {
  display: flex;
  margin-bottom: 50px;
}
.section-two__text {
  flex: 0 1 410px;
  padding-right: 20px;
  padding-left: 30px;
  display: flex;
  align-items: flex-end;
}
.section-two__text p {
  font-weight: 600;
  font-size: var(--buttons-font-size);
  line-height: var(--buttons-line-height);
  color: var(--accent-color);
}
.section-two__title {
  flex: 1 1 auto;
}
.section-two__title h2 {
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  text-align: right;
  color: var(--white-color);
}
.section-two__images {
  padding-left: 30px;
  padding-right: 30px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  margin-bottom: 30px;
}
.section-two__images img {
  max-width: 100%;
  border-radius: 10px;
}
.section-two__button {
  text-align: center;
}
.section-two__button a {
  text-align: center;
  font-weight: 900;
  font-size: var(--buttons-font-size);
  line-height: var(--buttons-line-height);
  padding: 18px 38px;
  color: var(--white-color);
  background-color: var(--button-color);
  border-radius: 30px;
  text-transform: uppercase;
}

.page__section-three {
  background-color: var(--accent-color);
}

.section-three__container {
  padding-top: 58px;
  padding-bottom: 68px;
  position: relative;
  display: flex;
}
.section-three__container::after {
  background: var(--white-color);
  content: "";
  position: absolute;
  width: 100%;
  top: -8px;
  left: 71.1%;
  height: 101%;
}
.section-three__content {
  flex: 1 1 auto;
  padding-right: 50px;
}
.section-three__title {
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  color: var(--white-color);
  margin-bottom: 50px;
}
.section-three__text {
  font-weight: 600;
  font-size: var(--buttons-font-size);
  line-height: var(--buttons-line-height);
  color: var(--white-color);
  margin-bottom: 70px;
}
.section-three__button {
  text-align: center;
  font-weight: 900;
  font-size: var(--buttons-font-size);
  line-height: var(--buttons-line-height);
  padding: 18px 38px;
  color: var(--white-color);
  background-color: var(--button-color);
  border-radius: 30px;
  text-transform: uppercase;
}
.section-three__image {
  text-align: center;
  flex: 0 0 53.2%;
}
.section-three__image img {
  max-width: 100%;
  border-radius: 10px;
  position: relative;
  z-index: 2;
}

.page__section-four {
  padding-top: 58px;
  padding-bottom: 50px;
}

.section-four__title {
  text-align: center;
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  color: var(--accent-color);
  margin-bottom: 50px;
}
.section-four__cards {
  margin-bottom: 68px;
  display: grid;
  gap: 22px;
  grid-template-columns: repeat(auto-fill, minmax(385px, 1fr));
}
.section-four__button {
  text-align: center;
}
.section-four__button a {
  text-align: center;
  font-weight: 900;
  font-size: var(--buttons-font-size);
  line-height: var(--buttons-line-height);
  padding: 18px 38px;
  color: var(--white-color);
  background-color: var(--button-color);
  border-radius: 30px;
  text-transform: uppercase;
}

.card-item__image__img {
  max-width: 100%;
}
.card-item__content {
  max-width: 385px;
  padding: 30px;
  border: 1px solid var(--accent-color);
  border-bottom-left-radius: 30px 30px;
  border-bottom-right-radius: 30px 30px;
  border-top: 0;
}
.card-item__content h3 {
  font-weight: 900;
  font-size: var(--h3-font-size);
  line-height: --h3-line-height;
  color: var(--accent-color);
  margin-bottom: 10px;
}

.page__section-five {
  padding-top: 58px;
  padding-bottom: 50px;
}

.section-five {
  z-index: -1;
  background-color: var(--accent-color);
  background-image: url("../img/section-five/banner.png");
  display: flex;
  flex-direction: column;
}
.section-five__title {
  text-align: center;
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  color: var(--white-color);
  margin-bottom: 50px;
}
.section-five__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--primary-space);
  justify-items: center;
}
.section-five__button {
  text-align: center;
}
.section-five__button a {
  text-align: center;
  font-weight: 900;
  font-size: var(--buttons-font-size);
  line-height: var(--buttons-line-height);
  padding: 18px 38px;
  color: var(--white-color);
  background-color: var(--button-color);
  border-radius: 30px;
  text-transform: uppercase;
}

.testimonials-item__image__img {
  max-width: 100%;
}
.testimonials-item__content {
  max-width: 512px;
  padding: 20px 50px;
  background-color: var(--white-color);
  border-radius: 30px;
  margin-bottom: 50px;
  margin-right: 0;
}
.testimonials-item__content h3 {
  font-weight: 900;
  font-size: var(--h3-font-size);
  line-height: --h3-line-height;
  color: var(--accent-color);
  margin-bottom: 10px;
}
.testimonials-item__content p {
  padding-bottom: 20px;
}

.section-six__blocks {
  margin: auto;
  max-width: 788px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.section-six__form input {
  background-color: var(--form-input-color);
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  width: 350px;
  height: 56px;
  font-family: inherit;
  border-radius: 61px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 14px;
}
.section-six__form ::placeholder {
  font-size: 16px;
  line-height: 1.5;
  color: var(--placeholder-color);
  padding-left: 10px;
}
.section-six__form input[type=submit] {
  cursor: pointer;
  font-size: var(--buttons-font-size);
  line-height: var(--buttons-line-height);
  background-color: var(--button-color);
  color: var(--white-color);
  width: 50%;
  margin: auto;
  border-radius: 61px;
  text-transform: uppercase;
}
.section-six__form input[type=submit]:hover {
  color: var(--button-color);
  background-color: var(--white-color);
  border: 1px solid var(--footer-color);
}
.section-six__form input:invalid {
  border: 2px solid;
  border-color: var(--error-color);
}
.section-six__contacts {
  margin-bottom: 40px;
}
.section-six__contacts ul > li {
  margin-bottom: 30px;
}
.section-six__contacts ul > li img {
  margin-right: 20px;
}
.section-six__title {
  font-weight: 800;
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 50px;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: var(--text-font-size);
  line-height: var(--text-line-height);
  background-color: var(--white-color);
  color: var(--grey-colour);
}

h1,
h2 {
  font-family: "Sen", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

/* ---------- */
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

/* ---------- */
.page {
  flex: 1 1 auto;
}

/* ---------- */
[class*=__container] {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ----- header ----- */
.header {
  background: var(--accent-color);
}
.header__container img {
  padding: 26px 0px;
}

/* ----- section-six ----- */
.page__section-six {
  padding: 50px 0px;
}

/* ----- footer ----- */
.footer {
  background: var(--footer-color);
}
.footer__container {
  padding: 26px 0px;
  text-align: center;
}

/* ---------- *//*# sourceMappingURL=index.css.map */