@import "reset";
@import "variables";
@import "mixins";
@import "section-one";
@import "section-two";
@import "section-three";
@import "section-four";
@import "section-five";
@import "section-six";

body {
  font-family: "Poppins", sans-serif;
  font-size: var(--text-font-size);
  line-height: var(--text-line-height);

  background-color: var(--white-color);
  color: var(--grey-colour);
}

h1,
h2 {
  font-family: "Sen", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

/* ---------- */

.wrapper {
  min-height: 100%;
  overflow: clip;

  display: flex;
  flex-direction: column;
}

/* ---------- */

.page {
  flex: 1 1 auto;
}

/* ---------- */

[class*="__container"] {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ----- header ----- */

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  // .header__container

  &__container img {
    padding: 26px 0px;
  }
}

/* ----- section-six ----- */

.page {
  // .page__section-six

  &__section-six {
    padding: 50px 0px;
  }
}

/* ----- footer ----- */

.footer {
  background: var(--footer-color);
  // .footer__container

  &__container {
    padding: 26px 0px;
    text-align: center;
  }
}

/* ---------- */
